<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="loggingFilePath" source="logging.file.path" defaultValue="./logs"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="APPLICATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggingFilePath}/application_%d{yyyy-MM-dd, Asia/Seoul}_${HOSTNAME}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>[%-5level:%X{REQUEST_ID}] [${HOSTNAME}:%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%logger{5}:%method:%L] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- default -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="APPLICATION_FILE"/>
    </root>
</configuration>
