<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="loggingFilePath" source="logging.file.path" defaultValue="./logs"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- default -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>